.igdc_EditWithButtons
{
}


.igdc_Calendar
{
    background-color:#FFFFFF;
    border:solid 1px #ABC1DE;
}


.igdc_EditInContainer
{
	background-color:Transparent;
	border:solid 1px #ABC1DE;
	outline:0;
}


.igdc_Button
{
}


.igdc_ButtonHover
{
}


