.igpnl_Control
{
	border:solid 1px #DCDCDC;
}


.igpnl_Panel
{
	background-color:White;
	cursor:default;
}


.igpnl_HeaderExpanded
{
	background-position:bottom ;
	background-image: url(images/header.gif);
	font-size:xx-small;
	font-family: Verdana;
	padding-top:3px;
	padding-bottom:3px;
	cursor:hand;
	color:White;
}


.igpnl_HeaderCollapsed
{
}


.igpnl_HeaderHover
{
	background-image: url(images/header_hover.gif);
	color:White;
}


.igpnl_GroupBoxControl
{
}


