.igws_R1
{
	background-color: #8DAED9;
	color: #000000;
	background-image: url(images/igws_r1bg.png);
	background-repeat: repeat-x;
}
.igws_R2
{
	background-color: #8cbfc0;
	color: #000000;
	background-image: url(images/igws_r2bg.png);
	background-repeat: repeat-x;
}
.igws_R3
{
	background-color: #9cbf8b;
	color: #000000;
	background-image: url(images/igws_r3bg.png);
	background-repeat: repeat-x;
}
.igws_R4
{
	background-color: #d195aa;
	color: #000000;
	background-image: url(images/igws_r4bg.png);
	background-repeat: repeat-x;
}

.igws_R5
{
	background-color: #8c8cd7;
	color: #000000;
	background-image: url(images/igws_r5bg.png);
	background-repeat: repeat-x;
}

.igws_R6
{
	background-color: #8dc19d;
	color: #000000;
	background-image: url(images/igws_r6bg.png);
	background-repeat: repeat-x;
}

.igws_R7
{
	background-color: #d39696;
	color: #000000;
	background-image: url(images/igws_r7bg.png);
	background-repeat: repeat-x;
}

.igws_R8
{
	background-color: #baba89;
	color: #000000;
	background-image: url(images/igws_r8bg.png);
	background-repeat: repeat-x;
}
.igws_R9
{
	background-color: #ae99d8;
	color: #000000;
	background-image: url(images/igws_r9bg.png);
	background-repeat: repeat-x;
}
.igws_R10
{
	background-color: #b0b6be;
	color: #000000;
	background-image: url(images/igws_r10bg.png);
	background-repeat: repeat-x;
}
